<div class="container my-5">
  <div class="row">
    <div class="mx-auto">
      <h1 class="text-center"><strong>About</strong></h1>
      <p class="mt-5 text-center">
        Toys Upは使わなくなったおもちゃを気軽に交換していただくSNSサイトです。<br>
        気になった投稿があればユーザさんをフォローしましょう！<br>
        お互いにフォロワーになれば、DM機能が使用できます。<br>
        お子様のおもちゃについて話したり、お互いにいいねをしている<br>
        おもちゃがあればぜひ交換することをご相談ください。<br>
        おもちゃをたいせつにすることから持続可能な社会を目指していきましょう。
      </p>
      <div class="mx-auto">
        <%= image_tag 'home.png', size: "700x500" %>
      </div>
    </div>
  </div>
</div>