<footer>
  <div class='container-fluid mt-5 p-3 mb-2 text-secondary'style="background-color: #e6e6fa">
  	<div class='row'>
    	<div class='mx-auto'>

    		<div class="text-center">
    		  <i class="fab fa-instagram"></i>
      		<i class="fab fa-facebook-square"></i>
      		<i class="fab fa-twitter"></i>
    		</div>
    		<div class="mt-3">
    		<i class="fas fa-phone"></i>03-xxxx-xxxx</p>
      	<i class="fas fa-map-marker-alt"></i></i>東京都〇〇区〇〇１－１－１</p>
      	<i class="fas fa-paper-plane"></i>toystoysupup@gmail.com</p>
      	<p>お問い合わせは<%= link_to "こちら", new_contact_path %>から</p>
      	<p class="copyright">
          COPYRIGHT ©Toys_up
        </p>
    	</div>
    	</div>
    </div>
  </div>
</footer>